
<br>

<div class="container">

<h3>Sponsors Details</h3>
<br>
<div class="box">
    
  <div class="box d-flex align-items-start">
    <!-- Avatar Image -->
    <div class="me-3">
        <img *ngIf="sponsors.image; else defaultImage" [src]="sponsors.image" 
             alt="Sponsor Image" class="img-thumbnail" width="150" height="150" />

        <ng-template #defaultImage>
            <img src="../assets/download.jpg" alt="Default Avatar" 
                 class="img-thumbnail" width="150" height="150" />
        </ng-template>
    </div>
<div >
    <table  class=" table table-striped  border-dark  ">
        <thead class=" table-dark">        
        <tr>
          <th  >Attribute</th>
          <th  >Value</th>
        </tr>

    </thead>

    <tbody>
    <tr>
          <td><b>Id</b></td>
          <td>{{sponsors.id}}</td>
        </tr>
        <tr>
          <td><b> sponsorName</b></td>
          <td>{{sponsors.sponsorName}}</td>
        </tr>
        <tr>
          <td><b>contactPerson Name</b></td>
          <td>{{sponsors.contactPerson}}</td>
        </tr>
        <tr>
          <td><b>Email</b></td>
          <td>{{sponsors.email}}</td>
        </tr>
        <tr>
          <td><b>contributionAmount</b></td>
          <td>{{sponsors.contributionAmount}}</td>
        </tr>
        <tr>
          <td><b>Sponsorship Status</b></td>
          <td>{{sponsors.SponsorshipStatus}}</td>
        </tr>
        <tr>
          <td><b>Start Date</b></td>
          <td>{{sponsors.startDate}}</td>
        </tr>
        <tr>
          <td><b>End Date</b></td>
          <td>{{sponsors.endDate}}</td>
        </tr>

        <div *ngIf="sponsors.image">
          <img [src]="sponsors.image" alt="Sponsor Image" class="img-thumbnail" width="150" height="150" />
      </div>

    </tbody>    
      </table>

      <a routerLink ="/updating-by-id/{{sponsors.id}}"  id="btn1"class="btn btn-secondary">Update </a>
      <a routerLink="/show-all-sponsors" id="btn2" class="btn btn-danger">Back</a>
</div>
    
</div>
</div>
