<div class="container">
  <div class="header">
    <div class="sponsor-badge">Sponsor's Deatils </div>
  </div>

  <div class="content">
    <div class="sponsor-info">
      <table>
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Id</td>
            <td>{{sponsors.id}}</td>
          </tr>
          <tr>
            <td>Sponsor Name</td>
            <td>{{sponsors.sponsorName}}</td>
          </tr>
          <tr>
            <td>Contact Person</td>
            <td>{{sponsors.contactPerson}}</td>
          </tr>
          <tr>
            <td>Organization Name</td>
            <td>{{sponsors.organizationName}}</td>
          </tr>
          <tr>
          <tr>
            <td>Contact Number</td>
            <td>{{sponsors.contactNumber}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{sponsors.email}}</td>
          </tr>
          <tr>
            <td>Event Name</td>
            <td>{{sponsors.eventName}}</td>
          </tr>
          <tr>
            <td>Sponsorship Status</td>
            <td>
              <span class="status-badge status-active">{{sponsors.sponsorshipStatus}}</span>
            </td>
          </tr>
          <tr>
            <td>Contribution Date</td>
            <td>{{sponsors.contributionDate}}</td>
          </tr>
          <tr>
            <td>Contribution Amount</td>
            <td>{{sponsors.contributionAmount}}</td>
          </tr>
        </tbody>
      </table>

      <div class="buttons">
        <a routerLink="/updating-by-id/{{sponsors.id}}" class="btn btn-secondary">Update</a>
        <a routerLink="/show-all-sponsors" class="btn btn-danger">Back</a>
      </div>
    </div>
  </div>
</div>