  <div class="header">
    <div class="logo-container">
      <span class="logo-text">Sponosr-Management System</span>
    </div>

    <nav class="navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="home" routerLinkActive="active" class="active">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="show-all-sponsors" routerLinkActive="active">Our Sponsors</a>
        </li>
        <li class="nav-item">
          <a routerLink="add-sponsors" routerLinkActive="active">Add Sponsors</a>
        </li>
      </ul>
    </nav>
  </div>
  
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  
  <footer class="footer">
    <div class="container">
      <span>Sponsorship Management System</span>
    </div>
  </footer>
