<br><br>
<br><br>
<!-- <a routerLink="/show-all-sponsorss" class="btn btn-primary">Go somewhere</a> -->
<div class="container-sm">
    <div class="col-md-6 offset-md-3  container-sm ">
        <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" class="row g-3 form-container  container-sm">

            

            <div class="form-group col-md-6">
                <label><b>Sponsor Name</b></label>
                <input type="text" class="form-control" id="sponsorName" [(ngModel)]="sponsors.sponsorName" name="sponsorName" required
                    minlength="3" #sponsorName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && sponsorName.errors }" />

                <div *ngIf="f.submitted && sponsorName.errors" class="invalid-feedback">
                    <div *ngIf="sponsorName.errors['required']">First name is required</div>
                    <div *ngIf="sponsorName.errors['minlength']">First Name minimum 3 characters are required!!!</div>
                </div>



            </div>



            <div class="form-group col-md-6">
                <label><b>Contact Person</b></label>
                <input type="text" class="form-control" id="contactPerson" [(ngModel)]="sponsors.contactPerson" required name="contactPerson"
                    #contactPerson="ngModel" [ngClass]="{ 'is-invalid': f.submitted && contactPerson.errors }">

                <div *ngIf="f.submitted && contactPerson.errors" class="invalid-feedback">
                    <div *ngIf="contactPerson.errors['required']">Last name is required</div>
                    
                </div>


            </div>

            <br><br>

            <div class="form-group">
                <label><b>Email Id</b></label>
                <input type="email" class="form-control" id="email" [(ngModel)]="sponsors.email" name="email"
                required email #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" />
                <div *ngIf="f.submitted && email.errors" class="invalid-feedback">
                    <div *ngIf="email.errors['required']">Email is required</div>
                    <div *ngIf="email.invalid">Invalid email format</div>
                </div>



            </div>




            <br><br>

            <div class="form-group col-md-6">
                <label class="form-label"><b> Sponsorship Status</b></label>
                <select id="SponsorshipStatus" class="form-select" [(ngModel)]="sponsors.SponsorshipStatus" name="SponsorshipStatus" required
                    #SponsorshipStatus="ngModel" [ngClass]="{ 'is-invalid': f.submitted && SponsorshipStatus.errors }">


                    <div *ngIf="f.submitted && SponsorshipStatus.errors" class="invalid-feedback">
                        <div *ngIf="SponsorshipStatus.errors['required']"> Sponsorship Status is required</div>
                    </div>


                    <option selected disabled value="">Choose..</option>
                    <option>Active</option>
                    <option>Pending</option>
                    <option>Completed</option>
                    <option>OverDue</option>
                </select>
            </div>


            <br><br>

            <div class="form-group col-md-6">
                <label><b>Contribution Amount</b></label>
                <input type="text" class="form-control" id="contributionAmount" [(ngModel)]="sponsors.contributionAmount" name="contributionAmount" 
                required pattern="^[1-9]\d{2,}$"
                    #contributionAmount="ngModel" [ngClass]="{ 'is-invalid': f.submitted && contributionAmount.errors }" />

                <div *ngIf="f.submitted && contributionAmount.errors" class="invalid-feedback">
                    <div *ngIf="contributionAmount.errors['required']">Amount is required</div>
                    <div *ngIf="contributionAmount.invalid">
                        Amount must be a number, more than 3 digits, and not starting with zero.
                    </div>
                </div>


            </div>



            <div class=" form-group col-md-6">
                    <label><b>Start Date</b></label>
                    <input type="date" class="form-control" id="startDate" [(ngModel)]="sponsors.startDate"
                        name="startDate" required #startDate="ngModel" 
                        [ngClass]="{ 'is-invalid': f.submitted && startDate.errors }">
                        
                    <div *ngIf="f.submitted && startDate.errors" class="invalid-feedback">
                        <div *ngIf="startDate.errors['required']">Joining Date is required</div>
                    </div>          
            </div>

            <div class=" form-group col-md-6">
                <label><b>End Date</b></label>
                <input type="date" class="form-control" id="endDate" [(ngModel)]="sponsors.endDate"
                    name="endDate" required #endDate="ngModel" 
                    [ngClass]="{ 'is-invalid': f.submitted && endDate.errors }">
                    
                <div *ngIf="f.submitted && endDate.errors" class="invalid-feedback">
                    <div *ngIf="endDate.errors['required']">End Date is required</div>
                </div>          
            </div>

            <div class="form-group col-md-6">
                <label><b>Upload Sponsor Image</b></label>
                <input type="file" class="form-control" (change)="onFileSelected($event)" accept="image/*" />
            </div>

            <div class="form-group col-md-6" *ngIf="sponsors.image">
                <label><b>Preview </b></label>
                <img [src]="sponsors.image" alt="Sponsor Image" class="img-thumbnail" width="150" height="150" />
            </div>

            
            <br><br><br><br>


            <div class="row mt-3">
                <div class="col-md-6">
                    <button class="btn btn-success full-width-button" type="submit" id="reg" [disabled]="">Submit</button>
                </div>
            
                <div class="col-md-6">
                    <button type="button" (click)="goToSponsorList()"
                        class="btn btn-danger full-width-button">Cancel</button>
                </div>
            </div>


        </form>


        <!-- 
<ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" />
<pre>Month: {{ date.month }}.{{ date.year }}</pre>
<pre>Model: {{ model | json }}</pre>

<br><br><br><br> -->

    </div>
</div>