
<body>

<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img style="width: 100vw;     height: 610px;" src="../assets/2.jpg" alt="Random first slide" />
        </div>
        <div class="carousel-caption">
            <h1 id="p1">Sponsorship Management System</h1>
            <p>Thakur College Of Engineering And Technology <br>
            - By Computer Engineering Dept.
            </p> 
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img style="width: 100vw;     height: 610px;" src="../assets/1.jpg" alt="Random second slide" />
        </div>
        <div class="carousel-caption">
            <h3  id="p1">Grow Your Sponsorship Network</h3>
            <p>Join thousands of users who’ve streamlined their sponsorships with us.</p>
        </div>
    </ng-template>

</ngb-carousel>
 
  

        <!-- Skills -->
        <section id="skills" class="section-2 odd highlights image-right counter skills featured">
            <br><br>
                <div class="divMain container">
                    <div class="container c1 text">
                        <h1 class="text">About Our Sponsorship Events</h1>
                        <br>
                        <ul class="category" id="t1">
                            <li>Empowering Partnerships
                              <ul class="subcategory">
                                <li>We connect brands with impactful events, creating meaningful collaborations</li>
                              </ul>
                            </li>
                            <li>Seamless Management
                              <ul class="subcategory">
                                <li>From onboarding sponsors to tracking their contributions.</li>
                              </ul>
                            </li>
                            <li>Transparent Communication
                              <ul class="subcategory">
                                <li>Keep everyone informed and aligned.</li>
                              </ul>
                            </li>
                          </ul>
                          
                         
                    </div>
                    <div class=" image">
                        <img src="../assets/Tcet_1.jpg" class="fit-image" style="height: 650px; width: 500px;" alt="Fit Image">
                    </div>
                </div>
                <br><br>
        </section>


<section class="about ">
    <br><br>
    <div class="container">
<div class="about-section">
    <h1>About Us Page</h1>  
    <br>
    <p>Every great event starts with a vision — and the right sponsors make that vision a reality. Our sponsoring events aim to create unforgettable experiences while providing sponsors with a platform to showcase their support and make a lasting impact. We handle the behind-the-scenes management so that every partnership thrives and every event shines.</p>
  </div>

</div>
<br><br><br><br><br>
</section>

</body>